
.navbar {
  background-color: var( --bg-baby-powder);
  color: var(--eerrie-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
  overflow: hidden;
  height: 80px;
}

.logo img {
  height: 100px;
  object-fit: contain;
  display: block;
}

.desktopMenu {
  display: none;
}

.navbarMobileActions {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 5px;
  margin-right: 1rem;
}

.hamburger, .cartIconMobile {
  display: block;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  text-align: center;
  color: var(--eerrie-black);
}

.mobileSidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 2000;
}

.sidebarOpen {
  transform: translateX(0);
}


.cartSidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 2000;
  justify-content: space-between;
}

.cartOpen {
  transform: translateX(0);
}


.link {
  text-decoration: none;
  color: var(--eerrie-black);
  font-family: var(--font-body);
  transition: color 0.3s ease;
  font-weight: 500;
}

.link:hover {
  color: var(--gold);
}

.cartSidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartSidebarCloseBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}


.startShoppingBtn {
  padding: 0.75rem 1.5rem;
  background-color: var(--eerrie-black);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-top: 1rem;
}

@media (min-width: 1024px) {
  .navbarMobileActions {
    display: none;
  }

  .desktopMenu {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }

  .cartIconDesktop {
    cursor: pointer;
    background: none;
    border: none;
  }

  .cartIconDesktop i {
    color: var(--eerrie-black);
    transition: color 0.3s ease;
  }

  .cartIconDesktop i:hover {
    color: var(--gold);
  }

  .cartSidebar {
    width: 25%;
  }

  .navbar {
    justify-content: space-around;
  }

  .logo img {
    height: 130px;
    object-fit: contain;
    display: block;
  }

  .desktopLinks {
    margin-left: -1rem;
  }
}

@media (min-width: 1440px) {
  .desktopLinks {
    margin-left: -5rem;
  }
}