
.featuredWrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

.perfumeText h3 {
  font-size: 0.9rem;
  font-weight: 700;
  border: 2px solid var(--gold);
  font-family: var(--font-body);
  width: fit-content;
  border-radius: 16px;
  padding: 0.3rem 0.7rem;
  margin-bottom: 2rem;
}


.perfumeTitle {
  font-size: 1.3rem;
}

.perfumeText p {
  color: #5A5A5A;
  padding-top: 1rem;
  font-family: var(--font-body);
  margin-bottom: 2rem;
  line-height: 1.4rem;
}

.perfumeImgWrapper img {
  width: 100%;
}

.perfumeImgWrapper {
  position: relative;
}

.perfumeImgWrapper::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 120%;
  background: radial-gradient(circle at 30% 30%, rgba(255,255,255,0.2) 0%, transparent 70%);
  z-index: 0;
  filter: blur(40px);
}


@media (min-width: 768px) {

  .featuredWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

}   

@media (min-width: 1024px) {
  .featuredWrapper {
    gap: 5rem;
  }
}


@media (min-width: 1440px) {
  .featuredWrapper {
    gap: 7rem;
  }

  .perfumeText {
    padding-bottom: 3rem;
  }

  .perfumeDescripton {
    width: 600px;
  }

}