
.section-wrapper {
  padding: 2rem 2rem;
}

.section-wrapper.whyshop {
  background-color: var(--bg-light-gray);
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
}

}

.section-container {
  max-width: 1400px; 
  margin: auto;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 2rem 1rem;
  }
}
